.layout_top__2MUJK { background-image: linear-gradient(rgba(27, 28, 31, 0.9), rgba(27, 28, 31, 0.05), rgb(27, 28, 31)); background-repeat: no-repeat; background-size: cover; width: auto; margin-top: 0px; margin-bottom: 25px; z-index: 100; border-radius: 0.5rem; color: rgb(234,234,234);}
.card-a { background-color: rgba( 36, 36, 33, 0); width: auto; height: auto; border-radius: 5px; margin: 25px;}
.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}
.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
  }
.adjust{padding:16px;}
.text-white {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
  }
.shadow-wrap {
   width: 116px;
   height: 116px;
   border-radius: 50%;
   border: 0.5px solid #000;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1);
  background: transparent;
  }
.about-border{
  border-left: 2px solid rgba(20, 111, 252, 0.8);
  position: relative;
  border-radius: 5px;}
.about-card-all{background-color: rgba( 27, 28, 31, 0.8); color:#fff; width: auto; height: auto;border-radius: 5px;}
.about-card-all h3{font-weight:650;font-size:20px; color:lightcyan; padding: 20px 0px 20px 20px;}
.about-card-all h3 span{border-bottom:1.5px solid #146ffc;}
.about-card-all .icon-box{
  align-items:center;
  background-color: rgba( 225, 225, 225, 0.08);
  color:#fff;
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  display:inline-flex;
  transition: ease-in-out 0.3s;
}
.icon-box i{
  font-size: 36px;
  padding: 5px 10px 10px 10px;
  line-height: 1;
}
/*.icon-box h4{
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}*/
.icon-box:hover{
  background: rgba(255, 255, 255, 0.12);
  transform: scale(1.1);
  transition: 0.5s;
}
.shadow-wrap-link{-webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1); box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1); background: transparent;}
.info .info-item {
  padding: 0 20px 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(20, 111, 252, 0.8);
  position: relative;
  border-radius: 5px;
}

.info .info-item h4 {
  line-height: 18px;
  font-size: 20px;
  font-weight: 650;
  /*text-transform: uppercase;*/
  font-family: "Poppins", sans-serif;
  color: lightcyan;
  padding: 20px 0 20px 0px;
  margin-bottom: 10px;
}
.info .info-item h4 span{border-bottom:1.5px solid #146ffc;}
.info .info-item h5 {
  font-size: 14px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin: 10px 0;
    }
