/***************** About Us Style ****************/
.layout_top__2MUJK { background-image: linear-gradient(rgba(27, 28, 31, 0.9), rgba(27, 28, 31, 0.05), rgb(27, 28, 31)); background-repeat: no-repeat; background-size: cover; width: auto; margin-top: 0px; margin-bottom: 25px; z-index: 100; border-radius: 0.5rem; color: rgb(234,234,234);}
.card-a { background-color: rgba( 36, 36, 33, 0); width: auto; height: auto; border-radius: 5px; margin: 25px;}
.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}
.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
  }
.adjust{padding:16px;}
.text-white {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
  }
.shadow-wrap {
   width: 116px;
   height: 116px;
   border-radius: 50%;
   border: 0.5px solid #000;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1);
  background: transparent;
  }
.about-border{
  border-left: 2px solid rgba(20, 111, 252, 0.8);
  position: relative;
  border-radius: 5px;}
.about-card-all{background-color: rgba( 27, 28, 31, 0.8); color:#fff; width: auto; height: auto;border-radius: 5px;}
.about-card-all h3{font-weight:650;font-size:20px; color:lightcyan; padding: 20px 0px 20px 20px;}
.about-card-all h3 span{border-bottom:1.5px solid #146ffc;}
.about-card-all .icon-box{
  align-items:center;
  background-color: rgba( 225, 225, 225, 0.08);
  color:#fff;
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  display:inline-flex;
  transition: ease-in-out 0.3s;
}
.icon-box i{
  font-size: 36px;
  padding: 5px 10px 9px 10px;
  line-height: 1;
}
/*.icon-box h4{
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}*/
.icon-box:hover{
  background: rgba(255, 255, 255, 0.12);
  transform: scale(1.1);
  transition: 0.5s;
}
.shadow-wrap-link{-webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1); box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1); background: transparent;}
.info .info-item {
  padding: 0 20px 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(20, 111, 252, 0.8);
  position: relative;
  border-radius: 5px;
}

.info .info-item h4 {
  line-height: 18px;
  font-size: 20px;
  font-weight: 650;
  /*text-transform: uppercase;*/
  font-family: "Poppins", sans-serif;
  color: lightcyan;
  padding: 20px 0 20px 0px;
  margin-bottom: 10px;
}
.info .info-item h4 span{border-bottom:1.5px solid #146ffc;}
.info .info-item .info-item-h5 h5 {
  font-size: 14px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin: 10px 0;
    }
/**************** Contact Style *****************/
.info-box {color: #444444;margin:15px 10px;padding: 20px;width:auto;height:auto;background: rgba(255, 255, 255, 0.08);}
.info-d{display: flex;flex-wrap: wrap; justify-content: center;}
.info-box i.bx{
  font-size: 24px;
  color: #37a9e5;
  border-radius: 5px;
  padding: 3px 10px 5px 10px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}
.info-box h5{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;}
.info-box p{
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;}
.info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.info-box .social-links a {
  font-size: 18px;
  color: #fff;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.info-box .social-links a:hover {
  color: #37a9e5;
}
.dl{color:fff;line-height:1;margin-right:12px;transition:0.5s;}
.dl:hover{color:#146ffc;transition:0.3s}

/*.report-box {color: #444444;margin:15px 10px;padding: 20px;width:auto;height:auto;background: rgba(255, 255, 255, 0.08);}*/
/*.report-d{display: flex;flex-wrap: wrap; justify-content: center;}*/
.all-r .report-box i.bx{
  font-size: 24px;
  color: #37a9e5;
  border-radius: 5px;
  padding: 3px 10px 5px 10px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}
.all-r.report-box h5{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;}
.all-r .report-box p{
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;}
.all-r .report-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
              }
.donate-box .social-links a {
  font-size: 18px;
  color: #146ffc;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}
.donate-box .social-links a:hover {
  color: #37a9e5;}
.htod .social-links a{ font-size: 16px;color:#146ffc;line-height:1;transition:0.3s;}
.htod .social-links a:hover{color:#37a9e5;}
.htod-img{border-radius:10px;border:1.5px solid #4a4a4a;}
.c-146{color:#146ffc;}
.turbo-c .turbo-c-img{border-radius:10px;border:1.5px solid #4a4a4a;margin:10px 0px;}
