@charset "utf-8";

html {
  user-select: none;
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("../img/bg.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

/*style*/
a {
  color: #00D7AE;
  text-decoration: none;
}

a:hover {
  color: #00FFD8;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

img {
  pointer-events: none;
}

@media print {

  html,
  body {
    display: none;
    /* hide whole page */
  }
}

.portfolio-details {
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.portfolio-details .container {
  padding-top: 10px;
  padding-bottom: 40px;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.card {
  background-color: rgba(36, 36, 33, 0.65);
  width: auto;
  height: auto;
  border-radius: 10px;
  margin: 0px 16px 0px 16px;
  margin-bottom: 46px;
}

.adjust {
  padding: 5px;
}

.shadow-wrap {
  width: 190px;
  height: 290px;
  margin-top: 20px;
  border-radius: .5rem;
  border: 0.5px solid #000;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-size: cover;

}

.text-white {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 900;
  line-height: 35px;
  padding: 0 10px 0 10px;
}
.count-t{
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  font-weight: 800;
}

.card2 {
  background: rgba(36, 36, 33, 0.9);
  width: auto;
  height: 100%;
  border-radius: 10px;
  margin: 16px;
  margin-top: 5px;
  padding-bottom: 25px;
  margin-bottom: 46px;
  /*opacity: 0.05;*/
}

.section-title h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1px;
  padding-left: 0px;
  padding-top: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: lightcyan;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

/*.section-title h2::after {
  content: "";
  width: 0vh;
  height: 1px;
  display: inline-block;
  background: #00D7AE;
  margin: 5px 10px;
  border-bottom: 2px solid #00d7c3;
}*/
.section-bar {
  border-bottom: 2px solid #00d7c3;
}

/**/
/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding-top: 15px;
  margin: 10px;
  border-radius: 5px;

}

.features .icon-box {
  background: rgba(255, 255, 255, 0.09);
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 10px 20px;
  border-radius: 5px;
  transition: 0.5s;
  border: 1.5px solid #c3c3c3;
  transition: ease-in-out 0.3s;
}

.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.features .icon-box h3 a {
  color: #e5e5e5;
  transition: 0.5s;
}

.features .icon-box:hover {
  background: rgba(255, 255, 255, 0.01);
  border-color: #00d7c3;
  transform: scale(0.95);
  transition: 0.5s;

}

.features .icon-box:hover h3 a {
  color: #00d7c3;
}

.container1 {
  padding-top: 0px;
}

@media (max-width: 992px) {
  .container1 {
    padding-top: 0px;
  }
}

#about p {
  padding: 20px;
  text-align: none;
  color: #e5e5e5;
}

/**/
.skill {
  margin: 16px;
}

.progress-container {
  margin-top: 0.5rem;
  padding-top: 20px;
}

.progress-container .title {
  text-align: center;
  margin-bottom: 0.625rem;
  color: #e5e5e5;
  font: 600 0.875rem/1.25rem "Open Sans", sans-serif;
}

.progress {
  margin-left: 15px;
  margin-right: 15px;
  /*height: 1.375rem;*/
  margin-bottom: 1.725rem;
  border-radius: 15px;
  background-color: #f9fafc;
}

.progress-bar {
  display: inline;
  /*padding-left: 1.5rem;*/
  padding-top: 1.5px;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #14bf98, #1bd1a7);
}

.progress-bar.first:after {
  content: "";
  width: 80%;
  margin-bottom: 1.125rem;
  background: #00d7c3;
  display: inline-block;
}

.progress-bar.second:after {
  content: "";
  width: 70%;
  margin-bottom: 1.125rem;
  background: #00d7c3;
  display: inline-block;
}

.progress-bar.third:after {
  content: "";
  width: 20%;
  margin-bottom: 1.125rem;
  background: #00d7c3;
  display: inline-block
}

.progress-bar.fourth:after {
  content: "";
  width: 50%;
  margin-bottom: 1.125rem;
  background: #00d7c3;
  display: inline-block
}

.progress-bar.fifth:after {
  content: "";
  width: 90%;
  margin-bottom: 1.125rem;
  background: #00d7c3;
  display: inline-block
}

.progress-bar.sixth:after {
  content: "";
  width: 40%;
  margin-bottom: 1.125rem;
  background: #00d7c3;
  display: inline-block
}

/**/

/**/
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}

@media (max-width: 1992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(27, 28, 31, 0.95);
  }
}

.credits a {
  color: #00D7C3;
  transition: 0.5s;
}

.credits a:hover {
  color: #f1f1f1;
}

.btn-solid-lg-2 {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1.1rem 0.8rem;
  margin: 6px;

  border-radius: 4px;
  background-color: #444444;
  color: #fff;
  font: 900 0.85rem/0 "Montserrat", sans-serif;
  transition: 0.4s;
}

.btn-solid-lg-2:hover {
  background-color: rgba(0, 159, 144, 0.8);
  color: #fff;
  transform: scale(0.95);
  transition: 0.5s;
}

.btn-top {
  margin-top: 40px;
}

/* portfolio start*/

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #00D7AE;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

/* End */
