
.btn{
     background-color: transparent;
     color: #fff;
     border: none;
     display: flex;
     margin-right: 9px;
     opacity: .6;
     transition: all linear .2s;
   }

.btn:hover{
    opacity: 1;
    width: 20;
    height: 30;
  }

.play-pause {
    display: none;
}

.active {
    display: block;
}

.active svg path {
    fill: #cc7e85;
}

.aurg{
  background-color: transparent ;
  opacity: .5;
  align-items: center;
  margin-right: -5px;
  }

.aurg:hover{
  opacity: 1;
}

.sz {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 9px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.sz:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  transition: 0.5s;
}
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: lightcyan;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.shadow-wrap-music {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 1);
  background: transparent;
     }
